html,
body {
  width: 98%;
  height: 98%;
  padding: 0% 0.5% 0% 0.5%;
  display: flex;
  flex-direction: column;
  background-color: red;
  color: white;
  font-family: Arial, "Times New Roman", sans-serif;
}

#cabecera {
  display: flex;
  height: 50%;
}

#logo {
  margin-top: 0.5%;
  float: left;
  width: 10%;
}

#titulo_ejercicio {
  width: 60%;
  font-size: 1.5em;
  text-align: center;
  padding: 0 0 0 10%;
}

#datos_personales {
  text-align: right;
  font-size: 1em;
  float: right;
  width: 43%;
}

.titulo_enunciado {
  margin: 0 0 0 10px;
}

.enunciado {
  font-size: 13px;
  color: black;
  margin: 10px;
}

.boton_ejercicio {
  width: 100px;
  height: 25px;
  background-color: red;
  border-width: 1px;
  border-color: darkred;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
  color: white;
  margin-left: 1%;
  font-weight: 700;
}

.boton_ejecutar {
    width: 100px;
    height: 25px;
    background-color: red;
    border-width: 1px;
    border-color: darkred;
    border-radius: 5px;
    box-shadow: 3px 3px gray;
    color: white;
    margin-left: 1%;
    font-weight: 700;
  }

  .boton_volver {
    width: 100px;
    height: 25px;
    background-color: red;
    border-width: 1px solid darkred;
    border-radius: 5px;
    box-shadow: 3px 3px gray;
    color: white;
    margin-left: 2%;
    font-weight: 700;
  }

#caja_respuesta {
  height: 100%;
  width: 100%;
  padding: 1%;
  background-color: rgb(240, 218, 218);
  display: flex;
}

#bloque_01 {
  height: 100%;
  flex: 1;
}

#bloque_02 {
  height: 100%;
  flex: 1;
}

.caja_ejercicio {
  border: 1px gray;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin: 1%;
  text-align: justify;
  box-shadow: 3px 3px gray;
}

.ejercicio {
  display: flex;
  flex-direction: column;
}

#tabla {
  display: flexbox;
  padding-left:40%;
}

#imagen_tabla {
  width: 40%;
  border: 1px gray;
}

.caja2_ejercicio {
    
    color: black;
    padding: 15px;
 
  }
